.contenedor-1 {
    border: 5px solid #e1bee7;
    background-color: white;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center;
}
.contenedor-1 .item {
    font-size: 4rem;
}

.contenedor-1 .item-1 {
    border: 5px solid #f8bbd0;
    background-color: #ffeeff;
    grid-column-start: 1; /*Columna en la que inicia*/
    grid-column-end: 4; /*Columna en la que finaliza*/
}

.contenedor-1 .item-2 {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    grid-row: 2 / 4; /*Fila en la que inicia / Fila en la que finaliza*/
}

.contenedor-1 .item-3 {
    border: 5px solid #b2ebf2;
    background-color: #e5ffff;
    grid-area: 2 / 2 / 4 / 4; /*Fila en la que comienza / Columna en la que comienza / Fila en la que finaliza / Columna en la que finaliza*/
}

.contenedor-2 {
    border: 5px solid #e1bee7;
    background-color: white;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    grid-template-areas: 
        "header header header"
        "side main main"
        "side main main";
    place-content: center;
}
.contenedor-2 .item {
    font-size: 4rem;
}

.contenedor-2 .item-1 {
    border: 5px solid #f8bbd0;
    background-color: #ffeeff;
    grid-area: header;
}

.contenedor-2 .item-2 {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    grid-area: side;
}

.contenedor-2 .item-3 {
    border: 5px solid #b2ebf2;
    background-color: #e5ffff;
    grid-area: main;
}